/* ---------------------------- global------------------------------------
:root {
  /* ================= background colors ===============*/
  --main-background-color: #ffffff;
  --accent-background-color: #f5f4fa;
  --header-color: #212121;
  --footer-bcg-color: #2f303a;
  --footer-links-bcg: rgba(255, 255, 255, 0.1);
  --activities-text-bcg: rgba(47, 48, 58, 0.8);
  --portfolio-cards-hover: rgba(33, 150, 243, 0.9);
  --modal-window: rgba(0, 0, 0, 0.2);
  /* ==================== text colors ================ */
  --main-text-color: #757575;
  --portfolio-bcg-color: #eeeeee;
  --logo-main-color: #000000;
  --footer-contacts-color: rgba(225, 225, 225, 0.6);
  --footer-links-text: #ffffff;
  --text-and-button-accent: #2196f3;
  --effects-text: #ffffff;
  /* ========== decorative elements colors ========== */
  --header-line-color: #ececec;
  --portfolio-border: #eeeeee;
  --social-icons-color: #afb1b8;
  /* ========= text settings ======================== */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* ==================== animation ================= */
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -------------------------- global end -------------------------------*/

/* ============================ header =================================*/
.header {
  border-bottom: 1px solid var(--header-line-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.logo {
  color: var(--logo-main-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--text-and-button-accent);
}
.menu-list {
  display: flex;
}
.menu-item {
  position: relative;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link,
.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link {
  display: inline-block;
  color: var(--header-color);

  transition: color var(--animation-time) var(--time-function);
}
.current {
  color: var(--text-and-button-accent);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--text-and-button-accent);
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--text-and-button-accent);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item:first-child {
  margin-right: 50px;
}
.contact-link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  transition: color var(--animation-time) var(--time-function);
}
.icon-envelope {
  width: 16px;
  height: 12px;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
}
.icon-envelope,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

/* ================================== footer ============================== */
.footer {
  background-color: var(--footer-bcg-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.addres-wrap {
  margin-right: 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo-accent {
  color: var(--main-background-color);
}
.address-item {
  line-height: 1.7;
}
.address-item:not(:last-child) {
  margin-bottom: 10px;
}
.address-link {
  transition: color var(--animation-time) var(--time-function);
}
.map {
  color: var(--main-background-color);
}
.mail,
.tel {
  color: var(--footer-contacts-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--text-and-button-accent);
}

.footer-title {
  margin-bottom: 20px;

  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--footer-links-text);
}
.footer-links {
  display: flex;
  justify-items: center;
  gap: 10px;
}
.social-footer,
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-links-bcg);
  color: var(--main-background-color);

  transition: color var(--animation-time) var(--time-function),
    background-color var(--animation-time) var(--time-function);
}
.social-footer:hover,
.social-footer:focus {
  background-color: var(--text-and-button-accent);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*------------------------------ footer form ---------------------------*/
.footer-form-container {
  margin-left: auto;
}

.footer-form-name {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--footer-links-text);
}

.footer-label {
  display: flex;
  gap: 12px;
}

.footer-imput {
  width: 358px;
  padding: 15px;
  background-color: var(--footer-bcg-color);

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: #ffffff;

  transition: border-color var(--animation-time) var(--time-function);
}

.footer-imput::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-imput:focus,
.footer-imput:focus-within {
  border: 1px solid var(--text-and-button-accent);
}

.footer-form-btn {
  display: flex;
  align-items: center;

  padding: 10px 28px;
  background-color: var(--text-and-button-accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--effects-text);
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* -------------------------- footer end -------------------------------*/
/* ---------------------------------- main ---------------------------*/
/* ---------------------------------- hero ---------------------------*/
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bcg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/backgroundimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}

.main-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.hero-btn {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  background-color: var(--text-and-button-accent);
  color: var(--main-background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* --------------------------- Переваги компанії ------------------------*/
.benefits,
.activities {
  background-color: var(--main-background-color);
}
.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-item {
  width: calc(100%-90px / 4);
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.antenna::before,
.clock::before,
.diagram::before,
.astronaut::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--accent-background-color);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70px 70px;
}
.antenna::before {
  background-image: url(../images/antenna.svg)
}
.clock::before {
  background-image: url(../images/astronaut.svg);
}
.diagram::before {
  background-image: url(../images/clock.svg);
}
.astronaut::before {
  background-image: url(../images/diagram.svg);
}
.benefits-headline {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--header-color);
}
.benefits-text {
  line-height: 1.71;
}

/*----------------------- Чим ми займаємося ---------------------------*/
.activities {
  padding-top: 0;
}
.activities-heading {
  margin-bottom: 50px;
}
.activities-heading,
.team-heading,
.partners-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);
}
.activities-list {
  
  display: flex;
  gap: 30px;
}
.activities-item {
  position: relative;
}
.activities-text {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--activities-text-bcg);

  font-weight: 700;
  text-transform: uppercase;
  color: var(--effects-text);
}

/*----------------------------------- Наша команда ----------------------- */
.team {
  background-color: var(--accent-background-color);
}
.team-heading {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  background-color: var(--main-background-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-container {
  padding: 30px 0;
  text-align: center;
}
.team-headline {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social-link {
  background-color: var(--main-background-color);
  color: var(--social-icons-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--text-and-button-accent);
  color: var(--main-background-color);
}

/* ------------------------Постійні клієнти ---------------------------- */
.partners-heading {
  margin-bottom: 50px;
}
.partners-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.partners-link {
  display: block;
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--social-icons-color);
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;

  transition: color var(--animation-time) var(--time-function),
    border-color var(--animation-time) var(--time-function);
}
.partners-link:hover,
.partners-link:focus {
  color: var(--text-and-button-accent);
  border: 1px solid var(--text-and-button-accent);
}
.partner-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ============================ модальне вікно   ====================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-window);
  opacity: 1;

  transition: opacity var(--animation-time) var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation-time) var(--time-function);

  width: 528px;
  height: 581px;
  border-radius: 4px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--modal-header-color);
  transition: color var(--animation-time) var(--time-function);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--text-and-button-accent);
}

.modal-icon {
  fill: currentColor;
}

/*----------------------------- форма модалки --------------------------*/
.modal-form-title {
  margin-bottom: 12px;
  padding: 0;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--modal-header-color);
}

.modal-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-label-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-imput {
  display: block;
  width: 450px;
  height: 40px;
  padding: 12px 12px 12px 42px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: var(--modal-header-color);
  transition: border-color var(--animation-time) var(--time-function);
}

.modal-textarea-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.modal-textarea {
  display: block;
  width: 450px;
  height: 120px;
  resize: none;

  padding: 12px;
  margin-bottom: 20px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation-time) var(--time-function);
}

.modal-imput:focus-within,
.modal-imput:hover,
.modal-textarea:focus-within,
.modal-textarea:hover {
  border: 1px solid var(--text-and-button-accent);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: var(--modal-header-color);
  transition: fill var(--animation-time) var(--time-function);
}

.modal-imput:focus-within+.modal-form-icon,
.modal-imput:hover+.modal-form-icon {
  fill: var(--text-and-button-accent);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 30px;
}

.checkbox-text {
  line-height: 1.7;
}

.checkbox-link {
  color: var(--text-and-button-accent);
}

.checkbox-field {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;

  border: 3px solid #212121;
  border-radius: 2px;

  transition: border-color var(--animation-time) var(--time-function),
    background-image var(--animation-time) var(--time-function);
}

.checkbox-field:hover,
.checkbox-field:focus {
  border-color: var(--text-and-button-accent);
}

.modal-checkbox:checked~.checkbox-field {
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  border-color: var(--text-and-button-accent);
}

.modal-submit-btn {
  padding: 10px 52px;
  background-color: var(--text-and-button-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--effects-text);
}

/* ========================== кінець модального вікна ====================== */
/* ========================= portfolio page =================================*/
.portfolio {
  background-color: var(--main-background-color);
}
/* ---------------------- кнопки -------------------- */
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  display: inline-block;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: var(--accent-background-color);

  transition: color var(--animation-time) var(--time-function),
    background-color var(--animation-time) var(--time-function),
    box-shadow var(--animation-time) var(--time-function);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-background-color);
  background-color: var(--text-and-button-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------------- картки -------------------- */
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.works-link {
  transition: box-shadow var(--animation-time) var(--time-function);
}

.works-link:hover,
.works-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*--------------------- оверлей ------------------  */
.portfolio-img-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  bottom: 0;

  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--animation-time) var(--time-function),
    opacity var(--animation-time) var(--time-function);

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--portfolio-cards-hover);
}
.works-link:hover .portfolio-overlay,
.works-link:focus .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-overlay-text {
  display: inline-block;
  padding: 0 24px;

  font-size: 18px;
  line-height: 1.6;
  color: var(--effects-text);
}
/*--------------------- підпис ------------------  */
.works-shadow {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border);
  border-top: none;
}
.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
 */
